@media only screen and (min-width: 640px){
    /*-------------------- HEADER --------------------*/
    /*========== MENU ==========*/
    #menu {
        display: none;
    }
    /*-------------------- NAVIGATION --------------------*/
    nav ul {
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        /* justify-content: right; */
    }
    .navigation a{
        display: block;
        flex: 1 1 100%;
    }
    /*-------------------- MAIN --------------------*/
    /*======== CARDS ========*/
    /*+++++++++++++++ TEMPLE CARD +++++++++++++++*/
    .templeCard {
        grid-column: 1/2;
        max-width: 70rem;
        
    }
    .templeCard picture {
        grid-column: 1/2;
        grid-row: 2/8;
    }
    .templeCard h5,p{
        grid-column: 2/3;
        /* grid-row: 2/7; */
        /* padding: 5px; */
    } 
    /*+++++++++++++++ LOCATION CARD +++++++++++++++*/
    .locationCard {
        grid-column: 2/3;
        grid-row: 2/3;
        max-width: 70rem;
        max-height: 65rem;
    }
    .locationCard picture {
        grid-column: 1/2;
        grid-row: 2/7;
    }
    .locationCard h5,p{
        grid-column: 2/3;
        /* grid-row: 2/7; */
        /* padding: 5px; */
    } 
    /*-------------------- TEMPLE MAIN --------------------*/
    /*========= CARD =========*/
    .cali-temples {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    /*-------------------- Location MAIN --------------------*/
    /*========= CARD =========*/
    .cali-locations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
}