@media (min-width: 550px) {
  
    header {
        flex-direction: row;
    }
     nav ul {
		display: flex;
	}
	#menu {
		display: none; /* hide hamburger button */
	}

	.navig{
        display: flex;
		flex-direction: row;
		justify-content: right;
	}

	.navig a {
		display: block;
		flex: 1 1 100%;
	}
}